[Unit]
Description=Dirtviz Uploader for RocketLogger
Documentation=https://github.com/jlab-sensing/Rocketlogger-Firmware

After=rocketlogger.service
Requires=rocketlogger.service

[Service]
Type=simple
ExecStart=uploader -v --config /etc/uploader.yaml

Restart=always
RestartSec=5s

User=rocketlogger
Group=rocketlogger

[Install]
WantedBy=multi-user.target
